<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg\(%file:%line\)%n%xThrowable{full}</pattern>
<!--            <pattern>%d{HH:mm:ss.SSS}    %msg%n%xThrowable{full}</pattern>-->
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.avast.clients.rabbitmq" level="DEBUG"/>
    <logger name="com.avast.clients.rabbitmq.DefaultRabbitMQProducer" level="OFF"/>

    <logger name="ch.qos.logback" level="OFF" additivity="false"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
</configuration>
