name: CI
on:
  pull_request:
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scala-version: [2.12.10, 2.13.1]
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 100
      - name: Fetch tags
        run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*
      - uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11
      - name: Coursier cache
        uses: coursier/cache-action@v5
      - uses: olafurpg/setup-gpg@v3
#      - name: sbt ci ${{ github.ref }}
#        run: ./sbt ci
      - name: gradle test ${{ github.ref }}
        run: ./gradlew test
        env:
          SCALA_VERSION: ${{ matrix.scala-version }}
